ion-button {
  border: 2px solid white;
  border-radius: 5px;
}

ion-toolbar {
  --background: #dc0a2d;
  --padding-top: 5px;
  --padding-start: 10px;
  border: 5px solid #9f0720;
  height: 70px;
}

.pokedex-footer {
  height: 45px;
}
